body {
  background-color: lightgray;
}

#menulink {
  width: 680px;
}

#main_frame {
  width: 600px;
  margin: auto;
  padding: 50px;
  text-align: justify;
  top: 50px;
  line-height: 150%;
  font-family: monospace;
  background-color: #eee;
  font-size: 14px;
}

#code {
  font-family: sans-serif;
  line-height: 100%;
}
